<div class="container">
  <h2 style="text-align: center;">Tasks</h2>
  <button type="button" class="btn btn-info" (click)="logOut()" style="float: right;">Logout</button>

  <div style="display: inline-flex;">
    <input type="text" class="form-control" name="description" aria-describedby="description" placeholder="Search..."
      [(ngModel)]="descriptionFilter">
    <button type="button" class="btn btn-primary" (click)="getDescription()">Search</button>
  </div>
  <br><br>
  <ngx-datatable class="bootstrap core-bootstrap" [rows]="catDescriptions" [columnMode]="ColumnMode.force"
    [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="page.limit" [externalPaging]="true"
    [externalSorting]="false" [count]="page.count" [offset]="page.offset" [scrollbarH]="false"
    (page)="pageCallback($event)">
    <ngx-datatable-column name="#" prop="taskId" [width]="10"></ngx-datatable-column>
    <ngx-datatable-column name="User" prop="user.username" [width]="300"></ngx-datatable-column>
    <ngx-datatable-column name="Description" prop="description" [width]="300"></ngx-datatable-column>
    <ngx-datatable-column name="Status" prop="status" [width]="300">
      <ng-template let-res="value" ngx-datatable-cell-template>
        <span class="badge badge-success" *ngIf="res == 1">Completed</span>
        <span class="badge badge-warning" *ngIf="res == 0">To complete</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Actions" prop="taskId" [width]="300">
      <ng-template let-res="value" let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
        <button type="button" class="btn btn-success" (click)="updateDescription(res)" [attr.disabled]="row.estatus == 1 ? true : null">Complete</button>
        <button type="button" class="btn btn-danger" (click)="deleteDescription(res)">Delete</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <br>
  <div class="container" class="was-validated" style="display: inline-flex;">
    <form (ngSubmit)="addDescription()" novalidate>
      <input type="text" class="form-control" name="description" aria-describedby="description"
        placeholder="Description" [(ngModel)]="description" required>
      <div class="invalid-feedback">
        Please provide a valid description.
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>